{% extends "skeleton.html" %}
{% block content %}
  <div id="right-content">

  </div>
  <div id="main-content">
    <h2>The mission</h2></h2>
    <div class="contributor-box">
      <img alt="" src="/img/people/dk.jpg">
      <p>Person name</p>
      <p>Description. I am me and I do cool things that not many people can do because they
      don't find it cool but they must really just be boring human beings. This is bad for them
      just like it's bad for all of them. What the heck am I doing? When is this finally gonna
      overflow?</p>
    </div>
    <div class="contributor-box">
      <img alt="" src="">
    </div>
    <div class="contributor-box">
      <img alt="" src="">
    </div>
    <div class="contributor-box">
      <img alt="" src="">
    </div>
    <div class="contributor-box">
      <img alt="" src="">
    </div>
    <div class="contributor-box">
      <img alt="" src="">
    </div>
    <div class="contributor-box">
      <img alt="" src="">
    </div>
    <div class="break"></div>
  </div>
{% endblock %}
