{% extends "skeleton.html" %}
{% block content %}
<div id="content" class="content-wrap">
  <div id="right-content">
    <div>
      <h2>Whatever will be here</h2>
      <p>The UCT Algorithm Circle is an outreach programme for high school and university st
udents offered to those identified as having an aptitude for computer programming or those wh
o are already strong at computer programming and want to go beyond what is taught at school.</p>
      <a class="big-button" href="courses">See upcomign courses</a>
    </div>
    <div>
      <ul id="social-icons" class="no-bullets">
        <li><a href="#"><img alt="" src="img/social/twitter.png"></a></li>
        <li><a href="#"><img alt="" src="img/social/facebook.png"></a></li>
        <li><a href="#"><img alt="" src="img/social/rss.png"></a></li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <h1>This is a big heading</h1>
    <h3>
    First page: minimal wording, emphasis on being a simple portal courses
    </h3>
  </div>
  <div class="break"></div>
  <div id="sponsors-logos">
    <ul id="logo-list" class="no-bullets">
      <li><a href="#"><img alt="" src="img/logos/google_logo.png"></a></li>
      <li><a href="#"><img alt="" src="img/logos/python-logo.png"></a></li>
      <li><a href="#"><img alt="" src="img/logos/sun_logo.png"></a></li>
      <li><a href="#"><img alt="" src="img/logos/uctlogo.png"></a></li>
    </ul>
  </div>
</div>
{% endblock %}
