{% extends "base.html" %}
{% block content %}
  <div id="right-content">
  </div>
  <div id="main-content">
    <p>
      Workshops are run over a full weekend and are divided between lectures
      and practical sessions with lunch time providing an opportunity for our
      sponsors to provide insight into the programming industry. Lecturers
      will lead each session, demonstrating concepts and elaborating on the
      content of the notes with tutors available throughout for help on any
      problems that may be encountered.
    </p>

    <h2>Upcoming workshops</h2>
    {% if events %}
    {% for event in events %}
      <h3>Event: {{ event.date }} - {{ event.location }}</h3>
      <p>{{ event.description }}</p>
      <p>{{ event.student_count }} learner{{ event.student_count|pluralize }} from {{ event.school_count }} school{{ event.school_count|pluralize }} have applied.</p>
      <p>{{ event.close_date|timeuntil }}</p>
      <a class="apply-button" href="{{ event.id }}/student-apply/">Apply</a>
      <a class="apply-button" href="{{ event.id }}/teacher-apply/">Apply as a teacher</a>
    {% endfor %}
    {% else %}
      <p>There are no upcoming events...</p>
    {% endif %}
  </div>
{% endblock %}
