{% extends "base.html" %}
{% block content %}
  <div id="right-content">

  </div>
  <div id="main-content">
    <h2>Who we are</h2>
    <div>
      <p>We are a group of experienced programmers who are enthusiastic about computer programming. It was from this enthusiasm that the idea of Umonya was born, with the goal of introducing the endless possibilities afforded by computer programming to learners in free workshops.</p>
      <p>Information Technology (IT) has become integral to many fields in the modern world. Academia, commerce and industry all require IT at fundamental level to function efficiently. Unfortunately, not all have had the opportunity to develop advanced IT skills, such as computer programming. Through a collaborative effort, Umonya workshops teach Python programming to those who have not yet had such an opportunity.</p>
      <p>We don't teach leaners how to <strong>use</strong> software; we teach them how to <strong>make</strong> software. For example, a participant should be able use a web browser; we will teach the skills, which, if developed, will enable them to write one. Furthermore, we do not intend to replace South African IT curricula.</p>
    <p>Umonya aims to make learning programming fun and free. If you do not have fun, we offer a double-your-money-back guarentee.</p>
    </div>
    <h2>Contributors</h2>
    <div class="contributor-box">
      <img alt="" src="{{ STATIC_URL }}/img/people/dk.jpg">
      <p>Person name</p>
      <p>Description. I am me and I do cool things that not many people can do because they
      don't find it cool but they must really just be boring human beings. This is bad for them
      just like it's bad for all of them. What the heck am I doing? When is this finally gonna
      overflow?</p>
    </div>
    <!-- list of contributors -->
    <div class="contributor-box">
    </div>
    <div class="contributor-box">
    </div>
    <div class="break"></div>
  </div>
{% endblock %}
