{% extends "base.html" %}
{% block content %}
  <div id="right-content">

  </div>
  <div id="main-content">
    <h2>Volunteering for Umonya</h2>
    <p>The success of Umonya depends a wide spectrum of volunteers. If you are a competent programmer, consider volunteering as a tutor. Tutors engage with participants on a one-to-one basis in order to help solidify their understanding of lecture topics. You may also wish to help with the writing of workshop coursework, or with website design and maintenance.</p>
    <p>However, you do not need to be an experienced programmer to help, as we require assistance with adminstrative tasks such as: coordinating volunteers, transport, catering, advertising, accounting, liasing with various universities, and coordinating sponsorship.</p>
    
    <h2>Running a club at school</h2>
    <p>We would like provide the opportunity for interested learners to be introduced to programming and exposed to the types of things you can do with computers. However, we are unable to hold workshops in all regions of the country. If you are interested in running a workshop in your region, we can assist by providing advice and <a href="/resources">workshop materials</a>.</p>
    <p>For teachers or learners who would like set up a computer club at their schools, we offer assistance in the form of resources and potential contacts to professionals and other groups. We have experience in working with teachers and can help to establish links with other clubs. Although, for the purposes of the Umonya workshops our focus is predominantly on Python programming, we are also willing and able to provide help in other fields, such as other programming languages or general computer-related topics.</p>
    <p>Once a club has become established, members may wish to further apply their new-found knowledge of programming. Umonya is eager to partner with initiatives that facilitate this process. One such initiative is the <a href="http://algorithm.cs.uct.ac.za">UCT Algorithm Circle</a>, which hosts a wealth of reasources, lecture slides and discussions on its website. Addtionally, learners in the proximity of the University of Cape Town may benefit from attending Algorithm Circle lectures held at the university. Should you know of another such initiative, please <a href="/contact-us">contact us</a> with further information.</p>
  </div>
{% endblock %}
