{% extends "base.html" %}
{% block content %}
  <div id="right-content">

  </div>
  <div id="main-content">
    <h2>Sponsors</h2>
    <div class="sponsor-box">
      <h4>Google</h4>
      <img src="{{ STATIC_URL }}/img/logos/google_logo.png">
      <p>Information about this sponsor and anything useful or long enought that will fill
      this space with text such that it's long enough to be long enough.</p>
      <p></p>
    </div>

    <div class="sponsor-box">
      <h4>University of South Africa</h4>
      <img src="{{ STATIC_URL }}/img/logos/uctlogo.png">
      <p>Information about this sponsor and anything useful or long enought that will fill
      this space with text such that it's long enough to be long enough.</p>
      <p></p>
    </div>

    <div class="sponsor-box">
      <h4>Stellenbosch University</h4>
      <img src="{{ STATIC_URL }}/img/logos/sun_logo.png">
      <p>Information about this sponsor and anything useful or long enought that will fill
      this space with text such that it's long enough to be long enough.</p>
      <p></p>
    </div>
    
    <h2>Collaborator</h2>
    <div class="sponsor-box">
      <img src="{{ STATIC_URL }}/img/logos/google_logo.png">
      <div>
        <h4>Google</h4>
        <p>Information about this sponsor and anything useful or long enought that will fill
        this space with text such that it's long enough to be long enough.</p>
        <p></p>
      </div>
    </div>

    <div class="sponsor-box">
      <img src="{{ STATIC_URL }}/img/logos/google_logo.png">
      <div>
        <h4>Google</h4>
        <p>Information about this sponsor and anything useful or long enought that will fill
        this space with text such that it's long enough to be long enough.</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="break"></div>
{% endblock %}
