{% extends "base.html" %}
{% block content %}
  <div id="right-content">

  </div>
  <div id="main-content">
    <h2>Sponsors</h2>
    {% for sponsor in sponsors %}
    <div class="sponsor-box">
      <h4>{{ sponsor.name }} ({{ sponsor.years }})</h4>
      <img src="{{ sponsor.image_path }}">
      <p>{{ sponsor.description }}</p>
      <p></p>
    </div>
    {% endfor %}

    <h2>Collaborators</h2>
    {% for sponsor in collaborators %}
    <div class="sponsor-box">
      <h4>{{ sponsor.name }} ({{ sponsor.years }})</h4>
      <img src="{{ sponsor.image_path }}">
      <p>{{ sponsor.description }}</p>
      <p></p>
    </div>
    {% endfor %}
  </div>
  <div class="break"></div>
{% endblock %}
