{% extends "templates/skeleton.html" %}
{% block content %}
  <div id="right-content">
    <div>
      <h2>Whatever will be here</h2>
      <p>The UCT Algorithm Circle is an outreach programme for high school and university st
udents offered to those identified as having an aptitude for computer programming or those wh
o are already strong at computer programming and want to go beyond what is taught at school.</p>
      
    </div>
    <div>
      <ul id="social-icons" class="no-bullets">
        <li><a href="#"><img alt="" src="/img/social/twitter.png"></a></li>
        <li><a href="#"><img alt="" src="/img/social/facebook.png"></a></li>
        <li><a href="#"><img alt="" src="/img/social/rss.png"></a></li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <h1>What is Umonya?</h1>
    <h3>
    Over the course of a fun-filled weekend, Umonya introduces computer programming to hundreds of school learners of all backgrounds with the help of passionate volunteers. Computer programming is a way to instruct a computer to do things for you. Learners need no prior programming experience to attend.
We hold workshops throughout South Africa using the free and widely used Python programming language.
    </h3>
    <a class="big-button" href="/apply">You can apply here. It's free and fun</a> or <a class="big-button" href="/get-involved">Get involved</a>
  </div>
  <div class="break"></div>
{% endblock %}

{% block extra_content %}
  <div id="sponsors-logos">
    <ul id="logo-list" class="no-bullets">
      <li><a href="#"><img alt="" src="/img/logos/google_logo.png"></a></li>
      <li><a href="#"><img alt="" src="/img/logos/python-logo.png"></a></li>
      <li><a href="#"><img alt="" src="/img/logos/sun_logo.png"></a></li>
      <li><a href="#"><img alt="" src="/img/logos/uctlogo.png"></a></li>
    </ul>
  </div>
{% endblock %}
